body {
  background-color: #efefef;
  font-family: 'Tinos', serif;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
}

.header img {
  width: 100%;
}

.caption {
  margin: 20px auto;
  max-width: 450px;
}

.caption p {
  color: #000;
}